.styled-table-cell {
    text-align: center;
  }
  
  .styled-table-container {
    table-layout: auto;
  }
  
  .center-content {
    display: flex;
    justify-content: center;
  }
  
  .table-header {
    background-color: #e3f2fd;
  }
  
  .dialog-actions {
    display: flex;
    justify-content: flex-end;
    direction: rtl;
  }
  /* .table-header {
  position:sticky;
  top: 80px;
  background-color: rgb(154, 39, 39); 
  z-index: 0; } */